.footer {
  overflow-x: hidden;
  padding: 2rem 0;
  .container-fluid {
    padding: 0;
  }
  [class*=col-] {
    display: flex;
    align-items: center;
    &:nth-of-type(n+2) {
      padding-top: .5rem;
    }
  }
}

.footer__text {
  font-family: GothaR;
  font-size: 1rem;
  background-color: #fff;
  margin-left: .9rem;
}

.footer__social-link {
  text-decoration: none;
  color: #000;
  font-family: GothaM;
  font-size: 1rem;
  margin-right: 1.2rem;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    transition: all .5s linear;
    color: #15b4af;
  }


}

@media (max-width: 1199px) {
  .footer {
    padding: 1rem 0;
    .container-fluid {
      padding: 0 15px;
    }
  }

  .footer__text {
    font-size: .8rem;
    margin: 0;
  }

  .footer__social-link {
    font-size: .85rem;
    margin-right: .6rem;
  }
}

.allert svg {
    width: 15px
}

.allert p {
    display: none;
    opacity: 0;
    padding: 5px;
    margin-left: 5px;
    line-height: 14px;
    color: #000;
    font-style: italic;
    font-size: 13px;
    border-radius: 4px;
    transition: all .5s;
    min-width: 140px;
    text-align: center
}

.allert:hover p {
    border: 1px solid #ff6565;
    background: #fff;
    display: inline;
    position: absolute;
    color: #4e4e4e;
    font-size: 10px;
    right: 24px;
    top: -7px;
    opacity: 1
}

.allert {
    position: absolute;
    z-index: 20;
    top: 50%;
    display: block;
    right: 5px;
    height: 20px;
    width: 20px;
    color: #ff6565;
    cursor: default;
    transform: translateY(-50%)
}

@media (max-width: 767px) {
  .footer {
    .row {
      [class*=col-] {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        padding-top: 0;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
