.sec-05 {
  padding-top: 9.7rem;
  padding-bottom: 11.1rem;
  position: relative;
  overflow-x: hidden;
  .container-fluid {
    padding: 0;
  }
  &::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 7.5rem;
    right: 0;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #edf7fa;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0rem;
    right: 52.7%;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #edf7fa;
  }
}

.sec-05__title {
  padding-top: 2.2rem;
  margin-bottom: 4.2rem;
}

.sec-05__list-title {
  margin-bottom: .7rem;
}

.sec-05__list {
  display: flex;
  flex-wrap: wrap;
}

.sec-05__list-item {
  width: 30%;
  margin-bottom: 2.8rem;
  &:nth-of-type(n+4) {
    margin-bottom: 0;
  }

  &:nth-of-type(4) {
    .sec-05__list-title p:last-of-type {
      margin-left: 2rem;
    }
  }

  &:nth-of-type(5) {
    .sec-05__list-title p:last-of-type {
      margin-left: 2rem;
    }
  }
}

.sec-05__first-list-title {
  margin-bottom: .7rem;
  p {
    display: flex;
    align-items: flex-end;
    font-family: GothaB;
    color: #15b4af;
    &:last-of-type {
      margin-left: 3.4rem;
      margin-top: -1rem;
    }
  }

  p > span{
    display: flex;
    align-items: flex-end;
    font-size: 2.95rem;
    margin-left: .5rem;
    margin-bottom: -.4rem;
    .sec-05__top-count {
      font-size: pxToRem(14px);
      letter-spacing: 3px;
      align-self: flex-start;
    }
  }
}

.sec-05__list-description {
  font-family: GothaR;
  font-size: 1rem;
  line-height: pxToRem(25px);
}

.sec-05__list-title {
  p {
    display: flex;
    align-items: flex-end;
    font-family: GothaB;
    color: #15b4af;
    span {
      font-size: 2.95rem;
      margin-bottom: -.4rem;
      margin-left: .5rem;
    }
  }

  p {
    &:last-of-type {
      margin-left: 4.3rem;
      font-size: 18px;
      margin-top: 0.4rem;
    }
  }
}

@media (max-width: 1199px) {
  .sec-05 {
    padding-top: 4.7rem;
    padding-bottom: 4.7rem;
    .row {
      [class*=col-]:first-of-type {
        display: none;
      }
    }
    &::after {
      right: 32.7%;
    }
  }

  .sec-05__title {
    text-align: center;
  }

  .sec-05__list {
    margin: auto;
    width: 80%;
  }

  .sec-05__list-item {
    margin-right: 1.9rem;
    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .sec-05 {
    padding-top: 2.7rem;
    padding-bottom: 1.7rem;
  }

  .sec-05__title {
    font-size: pxToRem(36px);
    padding: 0 1rem;
  }

  .sec-05__list {
    justify-content: center;
  }

  .sec-05__list-item {
    width: 10rem;
    margin-right: 0;
  }

  .sec-05__list-item:nth-of-type(n+4) {
    margin-bottom: 2.8rem;
  }
}
