.sec-06 {
  padding-top: 5.2rem;
  padding-bottom: 7rem;
  position: relative;
  overflow-x: hidden;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 4.6rem;
    left: 0;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #edf7fa;
  }
  .container-fluid {
    padding: 0;
  }
  .owl-carousel {
    .owl-item {
      img  {
        width: auto;
      }
    }
  }

  .owl-nav {
    display: flex;
    width: 5.6rem;
    height: 3.8rem;
    position: absolute;
    top: 0;
    left: 0;
    div {
      background-color: #fcfcfc;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-of-type {
        background-color: #15b4af;
        svg {
          fill: #fff;
        }
      }
      svg {
        width: 1rem;
        height: 1rem;
        fill: #000;
      }
    }
  }
}

.sec-06__title {
  margin-bottom: 1.7rem;
}

.sec-06__subtitle {
  font-family: GothaR;
  font-size: pxToRem(20px);
  color: #787878;
  line-height: pxToRem(30px);
  padding-left: 2.1rem;
  padding-right: 3rem;
  margin-bottom: 1.8rem;
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 2px;
    height: 2.9rem;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0.5rem;
  }
  span {
    font-family: GothaM;
    color: #15b4af;
  }
}

.sec-06__list {
  list-style: none;
  padding-left: 1.4rem;
}

.sec-06__list-item {
  font-family: GothaR;
  font-size: pxToRem(16px);
  color: #787878;
  line-height: pxToRem(25px);
  padding-right: 5.7rem;
  margin-bottom: .6rem;
  position: relative;
  &::before {
    display: block;
    content: "";
    width: .4rem;
    height: .4rem;
    background-color: #15b4af;
    position: absolute;
    top: .4rem;
    left: -1.3rem;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    font-family: GothaM;
    color: #15b4af;
  }
}

.sec-06__modal-btn {
  display: flex;
  justify-content: center;
  font-family: GothaB;
  font-size: pxToRem(14px);
  color: #fff;
  background-color: #15b4af;
  width: 23.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1.5rem 0;
  margin-top: 2.2rem;
  &:hover {
    transition: all .5s linear;
    background-color: #23d6d0;
    color: #fff;
  }
}

.sec-06__slider-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: GothaB;
  font-size: 1rem;
  color: #999999;
  margin-bottom: 1rem;
  span:first-of-type {
    color: #000;
    margin-right: .2rem;
  }

  span:last-of-type {
    margin-left: .2rem;
  }
}

.sec-06__slider-container {
  padding-top: 2rem;
  position: relative;
  width: pxToRem(570px);
  &::before {
    display: block;
    content: "дізнайтесь";
    font-family: GothaBL;
    font-size: pxToRem(80px);
    color: #eeeeee;
    transform: rotate(90deg);
    text-transform: uppercase;
    position: absolute;
    top: 19.2rem;
    right: -24.2rem;
    letter-spacing: 3px
  }

  &::after {
    display: block;
    content: "";
    height: 25.1rem;
    width: 37.6rem;
    background-color: #fcfcfc;
    position: absolute;
    top: .3rem;
    right: -12.2rem;
    z-index: -1;
  }
}

@media (max-width: 1199px) {
  .sec-06 {
    &::before {
      top: 12.6rem;
    }
    .row {
      [class*=col-]:first-of-type {
        margin-bottom: 2rem;
      }
    }
  }
  .sec-06__title {
    text-align: center;
    br {
      content: "";
      &::after {
        content: "\00a0";
      }
    }
  }

  .sec-06__subtitle {
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 0 8rem;
    margin-bottom: 2rem;
    &::before {
      top: 0;
      left: 7rem;
    }
  }

  .sec-06__list {
    padding-left: 9.4rem;
  }

  .sec-06__list-item {
    padding: 0;
    padding-right: 5rem;
    margin-bottom: 1rem;
  }

  .sec-06__modal-btn {
    margin: auto;
    margin-top: 2rem;
  }

  .sec-06__slider-container {
    margin: auto;
    &::after {
      top: 1.4rem;
      right: -4.2rem;
    }

    &::before {
      top: 20.2rem;
      right: -20.4rem;
    }
  }
}

@media (max-width: 767px) {
  .sec-06 {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    overflow-y: hidden;
  }

  .sec-06__subtitle {
    padding: 0 1rem;
    &::before {
      display: none;
    }
  }

  .sec-06__title {
    font-size: pxToRem(36px);
  }

  .sec-06__list {
    padding-left: 4.4rem;
  }

  .sec-06__list-item {
    padding-right: 3rem;
  }

  .sec-06 .owl-carousel .owl-item img {
    width: 300px;
  }

  .sec-06__slider-container {
    width: 300px;
  }

  .sec-06__slider-container::before {
    top: 1.6rem;
    right: 0rem;
    transform: rotate(0);
    font-size: 1.8rem;
  }

  .sec-06__slider-container::after {
    width: 300px;
    left: 0;
  }

  .sec-06 .owl-nav {
    width: 3.6rem;
    height: 2.8rem;
  }
}
