.sec-02 {
  overflow-x: hidden;
  padding-top: 11.2rem;
  padding-bottom: 6rem;
}

.sec-02__list-item {
  font-family: GothaR;
  font-size: 1rem;
  line-height: pxToRem(26px);
  margin-bottom: .3rem;
  padding-right: 2.6rem;
  position: relative;
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    font-family: GothaM;
    color: #15b4af;
  }
  &::before {
    display: block;
    content: "";
    width: .4rem;
    height: .4rem;
    background-color: #15b4af;
    position: absolute;
    top: .4rem;
    left: -1.3rem;
  }
}

.sec-02__img-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  &::before {
    display: block;
    content: "переваги";
    font-family: GothaBL;
    font-size: pxToRem(80px);
    color: #eeeeee;
    transform: rotate(90deg);
    text-transform: uppercase;
    position: absolute;
    top: 12.2rem;
    left: -16.6rem;
    letter-spacing: 3px
  }

  &::after {
    display: block;
    content: "";
    height: 25.1rem;
    width: 37.6rem;
    background-color: #fcfcfc;
    position: absolute;
    left: -6.7rem;
    top: -3.7rem;
    z-index: -1;
  }
}

.sec-02__text-container {
  padding-left: 6rem;
  padding-top: 3.4rem;
}

.sec-02__title {
  margin-bottom: 2rem
}

.sec-02__list {
  list-style: none;
  padding-left: 1.5rem;
}

@media (max-width: 1199px) {
  .sec-02 {
    padding-top: 6.2rem;
    padding-bottom: 2rem;
    .row {
      [class*=col-]:first-of-type {
        margin-bottom: 2rem;
      }
    }
  }

  .sec-02__img-container {
    justify-content: center;
    &::before {
      left: -9.6rem;
    }

    &::after {
      left: 3.3rem;
    }
  }

  .sec-02__text-container {
    padding: 0;
    text-align: left;
  }

  .sec-02__list-item {
    padding-right: 0;
    padding: 0 6rem 0 0;
    margin-bottom: 1rem;
    text-align: left;
    &::before {
      left: -1rem;
    }
  }
}

@media (max-width: 767px) {
  .sec-02 {
    padding: 0 1rem;
    padding-bottom: 2rem;
  }

  .sec-02__img-container {
    img {
      width: 300px;
      height: 300px;
    }
    &::after {
      width: 300px;
      left: -.3rem;
    }
    &::before {
      transform: rotate(0) translateX(-50%);
      left: 50%;
      top: -3rem;
      font-size: 3rem;
    }
  }

  .sec-02__title {
    font-size: pxToRem(36px);
  }

  .sec-02__list {
    padding-left: 1rem;
  }

  .sec-02__list-item {
    padding: 0;
    &::before {
      left: -1rem;
    }
  }

  .sec-02 .row [class*=col-]:first-of-type {
    margin-bottom: 3rem;
  }
}
