.sec-05 {
  padding-top: 9.7rem;
  padding-bottom: 11.1rem;
  .container-fluid {
    padding: 0;
  }
}

.sec-05__title {
  padding-top: 2.2rem;
  margin-bottom: 4.2rem;
}

.sec-05__list-title {
  margin-bottom: .7rem;
}

.sec-05__list {
  display: flex;
  flex-wrap: wrap;
}

.sec-05__list-item {
  width: 30%;
  margin-bottom: 2.8rem;
  &:nth-of-type(n+4) {
    margin-bottom: 0;
  }

  &:nth-of-type(4) {
    .sec-05__list-title p:last-of-type {
      margin-left: 2rem;
    }
  }

  &:nth-of-type(5) {
    .sec-05__list-title p:last-of-type {
      margin-left: 2rem;
    }
  }
}

.sec-05__first-list-title {
  margin-bottom: .7rem;
  p {
    display: flex;
    align-items: flex-end;
    font-family: GothaB;
    color: #15b4af;
    &:last-of-type {
      margin-left: 3.4rem;
      margin-top: -1rem;
    }
  }

  p > span{
    display: flex;
    align-items: flex-end;
    font-size: 2.95rem;
    margin-left: .5rem;
    margin-bottom: -.4rem;
    .sec-05__top-count {
      font-size: pxToRem(14px);
      letter-spacing: 3px;
      align-self: flex-start;
    }
  }
}

.sec-05__list-description {
  font-family: GothaR;
  font-size: 1rem;
  line-height: pxToRem(25px);
}

.sec-05__list-title {
  p {
    display: flex;
    align-items: flex-end;
    font-family: GothaB;
    color: #15b4af;
    span {
      font-size: 2.95rem;
      margin-bottom: -.4rem;
      margin-left: .5rem;
    }
  }

  p {
    &:last-of-type {
      margin-left: 4.3rem;
      font-size: 18px;
      margin-top: 0.4rem;
    }
  }
}
