.sec-02 {
  padding-top: 11.2rem;
  padding-bottom: 6rem;
}

.sec-02__list-item {
  font-family: GothaR;
  font-size: 1rem;
  line-height: pxToRem(26px);
  margin-bottom: .3rem;
  padding-right: 2.6rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  span {
    font-family: GothaM;
    color: #15b4af;
  }
}

.sec-02__img-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  &::before {
    display: block;
    content: "переваги";
    font-family: GothaBL;
    font-size: pxToRem(80px);
    color: #eeeeee;
    transform: rotate(90deg);
    text-transform: uppercase;
    position: absolute;
    top: 12.2rem;
    left: -16.6rem;
    letter-spacing: 3px
  }

  &::after {
    display: block;
    content: "";
    height: 25.1rem;
    width: 37.6rem;
    background-color: #fcfcfc;
    position: absolute;
    left: -6.7rem;
    top: -3.7rem;
    z-index: -1;
  }
}

.sec-02__text-container {
  padding-left: 6rem;
  padding-top: 3.4rem;
}

.sec-02__title {
  margin-bottom: 2rem
}

.sec-02__list {
  list-style: none;
  padding-left: 1.5rem;
}
