.sec-04 {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 2.5rem;
  .container-fluid {
    padding: 0;
  }
  .owl-carousel {
    .owl-item {
      img  {
        width: auto;
      }
    }
  }

  .owl-nav {
    display: flex;
    width: 5.6rem;
    height: 3.8rem;
    position: absolute;
    top: 0;
    left: 0;
    div {
      background-color: #fcfcfc;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-of-type {
        background-color: #15b4af;
        svg {
          fill: #fff;
        }
      }
      svg {
        width: 1rem;
        height: 1rem;
        fill: #000;
      }
    }
  }
  [class*=col-]:last-of-type {
    position: relative;
    &::after {
      display: block;
      content: "";
      width: 4.5rem;
      height: 4.5rem;
      background-color: #edf7fa;
      position: absolute;
      left: -1rem;
      bottom: -2.3rem;
    }
  }
}

.sec-04__title {
  margin-bottom: 1.9rem;
}

.sec-04__subtitle {
  font-family: GothaR;
  font-size: pxToRem(20px);
  color: #787878;
  line-height: pxToRem(30px);
  padding-left: 2.1rem;
  position: relative;
  margin-bottom: 1.5rem;
  &::before {
    display: block;
    content: "";
    width: 2px;
    height: 2.9rem;
    background-color: #000;
    position: absolute;
    top: .4rem;
    left: 0;
  }
}

.sec-04__description {
  font-family: GothaR;
  font-size: pxToRem(16px);
  color: #787878;
  line-height: pxToRem(25px);
  padding-right: 2rem;
}

.sec-04__text-block {
  padding-top: 8rem;
}

.sec-04__slider-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: GothaB;
  font-size: 1rem;
  color: #999999;
  margin-bottom: 1rem;
  span:first-of-type {
    color: #000;
    margin-right: .2rem;
  }

  span:last-of-type {
    margin-left: .2rem;
  }
}

.sec-04__slider-container {
  padding-top: 1.2rem;
  position: relative;
  &::before {
    display: block;
    content: "практика";
    font-family: GothaBL;
    font-size: pxToRem(80px);
    color: #eeeeee;
    transform: rotate(90deg);
    text-transform: uppercase;
    position: absolute;
    top: 16rem;
    right: -15.6rem;
    letter-spacing: 3px
  }

  &::after {
    display: block;
    content: "";
    height: 25.1rem;
    width: 37.6rem;
    background-color: #fcfcfc;
    position: absolute;
    top: -.5rem;
    right: -5.8rem;
    z-index: -1;
  }
}

@media (max-width: 1199px) {
  .sec-04__text-block {
    padding-top: 0;
    text-align: center;
  }

  .sec-04__subtitle {
    text-align: left;
    margin: auto;
    display: inline-block;
    margin-bottom: 1.5rem;
    &::before {
      height: 100%;
      top: 0;
    }
    br {
      content: "";
      &::after {
        content: "\00a0";
      }
    }
  }

  .sec-04__description {
    padding: 0 10rem;
  }

  .sec-04__slider-container {
    width: 570px;
    margin: auto;
    &::before {
      right: -17.9rem;
    }
    &::after {
      top: 0.5rem;
      right: -3.8rem;
    }
  }

  .sec-04 [class*=col-]:last-of-type::after {
    left: 1.4rem;
    bottom: 3.7rem;
  }
}

@media (max-width: 767px) {
  .sec-04 {
    overflow-y: hidden;
    .row {
      [class*=col-]:first-of-type {
        margin-bottom: 1rem;
      }
    }
  }

  .sec-04__title {
    font-size: pxToRem(36px);
  }

  .sec-04 [class*=col-]:last-of-type::after {
    display: none;
  }

  .sec-04__subtitle {
    padding: 0;
    text-align: center;
    &::before {
      display: none;
    }
  }

  .sec-04__description {
    padding: 0 1rem;
  }

  .sec-04__slider-container {
    width: 300px;
    &::before {
      right: 1rem;
      transform: rotate(0);
      font-size: 2rem;
      top: 0.8rem;
    }
    &::after {
      width: 300px;
      left: 0;
    }
  }

  .sec-04 .owl-carousel .owl-item img {
    width: 300px;
  }

  .sec-04 .owl-nav {
    width: 3.6rem;
    height: 2.8rem;
  }
}
