@font-face {
  font-family: GilroyL;
  src: url('fonts/GilroyL.woff') format("woff"),
       url('fonts/GilroyL.woff2') format("woff2");
}

@font-face {
  font-family: GothaBL;
  src: url('fonts/GothaProBla.woff') format("woff"),
       url('fonts/GothaProBla.woff2') format("woff2");
}

@font-face {
  font-family: GothaB;
  src: url('fonts/GothaProBol.woff') format("woff"),
       url('fonts/GothaProBol.woff2') format("woff2");
}

@font-face {
  font-family: GothaM;
  src: url('fonts/GothaProMed.woff') format("woff"),
       url('fonts/GothaProMed.woff2') format("woff2");
}

@font-face {
  font-family: GothaR;
  src: url('fonts/GothaProReg.woff') format("woff"),
       url('fonts/GothaProReg.woff2') format("woff2");
}
